<igx-navbar class="navigation-bar">
  <button igxButton="icon" type="icon" [disabled]="false" igxNavbarAction [igxToggleAction]="navigationDrawer">
    <igx-icon>menu</igx-icon>
  </button>
  <div igxNavbarTitle>Hong Chiang</div>
</igx-navbar>
<div class="row-layout row">
  <igx-nav-drawer width="320px" [pin]="true" [pinThreshold]="1024" position="left" [isOpen]="true" #navigationDrawer class="navigation-drawer">
    <ng-template igxDrawer>
      <span [isHeader]="false" igxDrawerItem routerLink="/store">
        <igx-icon font="material" [active]="true">home</igx-icon>
        <span class="navigation-drawer_1">店家列表</span>
      </span>
      <span [isHeader]="false" igxDrawerItem routerLink="/account">
        <igx-icon font="material" [active]="true">people</igx-icon>
        <span class="navigation-drawer_1">帳號設定</span>
      </span>
      <span [isHeader]="false" igxDrawerItem routerLink="/log">
        <igx-icon font="material" [active]="true">history</igx-icon>
        <span class="navigation-drawer_1">歷史紀錄</span>
      </span>
      <span [isHeader]="false" igxDrawerItem routerLink="/log">
        <span class="navigation-drawer_1">登出</span>
      </span>
    </ng-template>
  </igx-nav-drawer>
  <div class="views-container">
    <router-outlet></router-outlet>
  </div>
</div>
