:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  top: 201px;
  left: 332px;
  position: fixed;
  width: 1274px;
  height: 477px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
  z-index: 1;
}
.button {
  top: 141.84437563516258px;
  left: 1324.4425940040637px;
  position: fixed;
  z-index: 1;
  height: max-content;
  min-width: min-content;
}
.button_1 {
  top: 141.84471306529466px;
  left: 1482.0975038109755px;
  flex-shrink: 0;
  position: fixed;
  z-index: 1;
  height: max-content;
  min-width: min-content;
}
.icon {
  top: 153.85809399355512px;
  left: 330.69531249999983px;
  height: 24px;
  width: 24px;
  font-size: 24px;
  flex-shrink: 0;
  position: fixed;
  z-index: 1;
}
.icon_1 {
  top: 86.87506510416667px;
  left: 330.6901041666666px;
  height: 36px;
  width: 36px;
  font-size: 36px;
  position: fixed;
  z-index: 1;
}
.button_2 {
  margin: 20px;
  height: max-content;
  min-width: min-content;
}
.select {
  flex-shrink: 0;
  height: max-content;
  min-width: min-content;
}
.user-input {
  height: max-content;
  min-width: min-content;
}
.title {
  top: 94.87799479166675px;
  left: 385.03971354166663px;
  position: fixed;
  z-index: 1;
  height: max-content;
  min-width: min-content;
  white-space: pre-wrap;
}
.text {
  top: 149.85390624999997px;
  left: 366.77044270833346px;
  position: fixed;
  z-index: 1;
  height: max-content;
  min-width: min-content;
  white-space: pre-wrap;
}
.text_1 {
  top: 149.85572916666663px;
  left: 690.2373697916669px;
  position: fixed;
  z-index: 1;
  height: max-content;
  min-width: min-content;
  white-space: pre-wrap;
}
.text_2 {
  height: max-content;
  min-width: min-content;
  white-space: pre-wrap;
}
.dialog-window {
  min-width: 0;
  min-height: 0;
}
.card {
  width: 320px;
  height: max-content;
  min-width: 320px;
  flex-shrink: 0;
}
.content {
  min-height: 50px;
  min-width: 50px;
}
.actions {
  min-height: 40px;
  min-width: 50px;
}
